$SIDEBAR-WIDTH: 320px;

.sidebar-background {
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.0);
}

.sidebar-fade-in {
  -webkit-animation: fade-in 0.2s forwards;
  -moz-animation: fade-in 0.2s forwards;
  -o-animation: fade-in 0.2s forwards;
  animation: fade-in 0.2s forwards;
}
@-webkit-keyframes fade-in {100% { background-color: rgba(0, 0, 0, 0.25); }}
@-moz-keyframes fade-in {100% { background-color: rgba(0, 0, 0, 0.25); }}
@keyframes fade-in {100% { background-color: rgba(0, 0, 0, 0.25); }}

.sidebar-fade-out {
  -webkit-animation: fade-out 0.2s forwards;
  -moz-animation: fade-out 0.2s forwards;
  -o-animation: fade-out 0.2s forwards;
  animation: fade-out 0.2s forwards;
}
@-webkit-keyframes fade-out {100% { background-color: rgba(0, 0, 0, 0.0); }}
@-moz-keyframes fade-out {100% { background-color: rgba(0, 0, 0, 0.0); }}
@keyframes fade-out {100% { background-color: rgba(0, 0, 0, 0.0); }}

.sidebar-pane {
  height: 100vh;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  background-color: $light;
  right: calc(#{$SIDEBAR-WIDTH} * -1);
  width: $SIDEBAR-WIDTH;
  display: flex;
/*
  // Add when additional side navbar present
  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    margin-right: 0vw;
  }
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    margin-right: 0vw;
  }
  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    margin-right: 230px;
  }
*/
}

.sidebar-pane-content {
  overflow-y: scroll;
  display: block;
}


.slide-out {
  position: fixed;
  right: calc(#{$SIDEBAR-WIDTH} * -1);
  -webkit-animation: slide-out 0.2s forwards;
  -moz-animation: slide-out 0.2s forwards;
  -o-animation: slide-out 0.2s forwards;
  animation: slide-out 0.2s forwards;
}
@-webkit-keyframes slide-out {100% { right: 0; }}
@-moz-keyframes slide-out {100% { right: 0; }}
@keyframes slide-out {100% { right: 0; }}

.slide-in {
  position: fixed;
  right: 0px;
  -webkit-animation: slide-in 0.2s forwards;
  -moz-animation: slide-in 0.2s forwards;
  -o-animation: slide-in 0.2s forwards;
  animation: slide-in 0.2s forwards;
}
@-webkit-keyframes slide-in {100% { right: calc(#{$SIDEBAR-WIDTH} * -1); }}
@-moz-keyframes slide-out {100% { right: calc(#{$SIDEBAR-WIDTH} * -1);  }}
@keyframes slide-in {100% { right: calc(#{$SIDEBAR-WIDTH} * -1); }}


// Close Icon
#close-animated {
  @media (min-width: map-get($grid-breakpoints, 'xs')) {width: 50px;}
  @media (min-width: map-get($grid-breakpoints, 'xl')) {width: 60px;}
  height: 45px;
  opacity: 0.9;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#close-animated span {
  display: block;
  position: absolute;
  @media (min-width: map-get($grid-breakpoints, 'xs')) {height: 7px;}
  @media (min-width: map-get($grid-breakpoints, 'md')) {height: 8px;}
  width: 100%;
  // TODO: rm me
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#close-animated span:nth-child(1) {
  top: 0px;
}

#close-animated span:nth-child(2),#close-animated span:nth-child(3) {
  top: 18px;
}

#close-animated span:nth-child(4) {
  top: 36px;
}

#close-animated.close-icon-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#close-animated.close-icon-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#close-animated.close-icon-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#close-animated.close-icon-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
