// Import bootstrap
@import 'bootstrap/index';

// Css assets
$font-path: '../fonts' !default;
$image-path: '../images' !default;
$icon-path: '../images/icons' !default;
@import 'extra/fonts';
@import 'extra/icons';
@import 'extra/animations';

// Specific components
@import 'components/sidebar';

// Specific pages
@import 'extra/landing';

// Vendor
// @import 'vendor/...'
