// Spin
._anim-spin {
  display: inline-block;
  -moz-animation: _anim-spin 2s infinite linear;
  -o-animation: _anim-spin 2s infinite linear;
  -webkit-animation: _anim-spin 2s infinite linear;
  animation: _anim-spin 2s infinite linear;
}
@-moz-keyframes _anim-spin {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(-359deg);}
}
@-webkit-keyframes _anim-spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-359deg);}
}
@-o-keyframes _anim-spin {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(-359deg);}
}
@-ms-keyframes _anim-spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(-359deg);}
}
@keyframes _anim-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-359deg);}
}

// Loading bars
.lds-ellipsis {
  display: inline-block;
  position: relative;
  top: -20px;
  right: 25px;
  width: 20px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #212529;
  opacity: 0.65;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

