@font-face {
  font-family: 'Oswald';
  src: url('#{$font-path}/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('#{$font-path}/Oswald-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('#{$font-path}/Oswald-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
