button.btn-icon {
  padding: 0.1rem 0.3rem;
}

.icon {
  display: inline-block;
  width: 2.4em;
  height: 2.4em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-menu-icon {
  background-image: url("#{$icon-path}/navbar-menu-icon.svg");
}

.sidebar-close-icon {
  background-image: url("#{$icon-path}/sidebar-close-icon.svg");
}
