@charset "UTF-8";

main#landing-page {
  h2 { font-size: 2em;
    p:first-child{margin-bottom: 0px}
    p:last-child{font-size: 0.75em; font-weight: 300}
    margin-bottom: 0.75em;
  }

  // Call to action
  .call-to-action{
    @media (min-width: map-get($grid-breakpoints, 'xs')) {height: 400px;}
    @media (min-width: map-get($grid-breakpoints, 'md')) {height: 600px;}
    // End media queries
    background-image:url("#{$image-path}/landing/main.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    .inner {
      background-color: rgba(0, 0, 0, 0.36);
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      div.tagline {
        text-align: center;
        color: $light;
        h1 { font-size: 4em; }
      }

      div.seal {
        @media (min-width: map-get($grid-breakpoints, 'xs')) {right: 20px; bottom: 10px;}
        @media (min-width: map-get($grid-breakpoints, 'md')) {right: 70px; bottom: 20px;}
        // End media queries
        position: absolute;
        .seal-container {
          @media (min-width: map-get($grid-breakpoints, 'xs')) {width: 90px; height: 90px;}
          @media (min-width: map-get($grid-breakpoints, 'md')) {width: 167px; height: 167px;}
          // End media queries
          background-color: $dark;
          border-radius: 50%;
          margin: auto;
          display: flex;
          align-items: center;
          .seal-text {
            margin: auto;
            text-align: center;
            color: $light;
            p { margin: 0px; }
            .seal-title {
              @media (min-width: map-get($grid-breakpoints, 'xs')) {font-size: 0.4em}
              @media (min-width: map-get($grid-breakpoints, 'md')) {font-size: 1em}
            }
            .seal-subtitle { font-size: 1.5em; span#guestcounter { font-size: 0.6em; } }
          }
        }
      }
    }
  }

  /* * * * * * Our service * * * * * */
  #ourService{
    margin-bottom: 4em;

    div#service-diagram-container {
      div { border-radius: 10px; }
      display: flex;
      justify-content: center;
      @media (min-width: map-get($grid-breakpoints, 'xs')) {
        align-items: center;
        flex-direction: column;
      }
      @media (min-width: map-get($grid-breakpoints, 'lg')) {
        align-items: stretch;
        flex-direction: row;
      }

      // Between diagram style
      #between-diagram {
        @media (min-width: map-get($grid-breakpoints, 'xs')) {margin: auto;}
        @media (min-width: map-get($grid-breakpoints, 'lg')) {margin: auto 0;}
        .between-diagram-container {
          display: flex;
          justify-content: center;
          @media (min-width: map-get($grid-breakpoints, 'xs')) {flex-direction: column;}
          @media (min-width: map-get($grid-breakpoints, 'lg')) {flex-direction: row;}
          text-align: center;
          align-items: center;
        }
        .arrow-container {
          display: flex;
          align-items: center;
          position: relative;
          @media (min-width: map-get($grid-breakpoints, 'xs')) {flex-direction: row;}
          @media (min-width: map-get($grid-breakpoints, 'lg')) {flex-direction: column;}
        }
        #g-arrow {
          // Guest arrow on small screens points down
          @media (min-width: map-get($grid-breakpoints, 'xs')) {background: url("#{$image-path}/landing/arrow-d.png") center no-repeat; height: 51px; width: 35px;}
          // Large screens, right
          @media (min-width: map-get($grid-breakpoints, 'lg')) {background: url("#{$image-path}/landing/arrow-r.png") center no-repeat;  height: 36px; width: 77px;}
          span{
            position: absolute;
            // Label text for guest arrow -- small screens is to right
            @media (min-width: map-get($grid-breakpoints, 'xs')) {right: -40px;}
            @media (min-width: map-get($grid-breakpoints, 'lg')) {right: 28px; bottom: -30px}
          }
        }
        #h-arrow {
          // Host arrow on small screens points up
          @media (min-width: map-get($grid-breakpoints, 'xs')) {background: url("#{$image-path}/landing/arrow-u.png") center no-repeat; height: 51px; width: 35px;}
          // Large screens, left
          @media (min-width: map-get($grid-breakpoints, 'lg')) {background: url("#{$image-path}/landing/arrow-l.png") center no-repeat;  height: 36px; width: 77px;}
          span{
            position: absolute;
            // Label text for host arrow -- small screens is to right
            @media (min-width: map-get($grid-breakpoints, 'xs')) {right: -40px;}
            @media (min-width: map-get($grid-breakpoints, 'lg')) {right: 5px; bottom: -30px}
          }
        }

        #biyocchi-matching {
          position: relative;
          text-align: center;
          h6{
            margin: 0; border-radius: 5px;
            font-size: 1.7em;
          }
          span {
            position: absolute;
            right: 25px;
            @media (min-width: map-get($grid-breakpoints, 'xs')) {display: none}
            @media (min-width: map-get($grid-breakpoints, 'lg')) {display: block;}
          }
        }
      }

      // Guest+Host diagram styles
      div.diagram {
        // Vertical
        @media (min-width: map-get($grid-breakpoints, 'xs')) {width: 100%;}
        // Horizontal
        @media (min-width: map-get($grid-breakpoints, 'lg')) {width: 330px;}
        display: flex;
        align-content: space-between;
        flex-direction: column;
        position: relative;
        background-color: #A8834E;
        .diagram-list-container {
          // Vertical
          @media (min-width: map-get($grid-breakpoints, 'xs')) {
            width: calc(100% - 30px);
          }
          // Horizontal
          @media (min-width: map-get($grid-breakpoints, 'lg')) {
            width: 290px;
          }
          background-color: $light;
          margin: 0px auto 20px auto;
          flex: 1 0 auto;
          .diagram-list {
            padding-left: 38px;
            margin: 10px 0px;
            @media (min-width: map-get($grid-breakpoints, 'xs')) {}
            @media (min-width: map-get($grid-breakpoints, 'lg')) {}
          }
          ul {
            transform-origin: top left;
            li { position: relative; list-style: none;}
            li:after {
              display: block;
              content: '';
              position: absolute;
              top: .5em;
              left: -23px;
              width: 10px;
              height: 10px;
              background-color: $red;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg)
            }
          }
        }
        h5 {
          padding: 20px 0;
          text-align: center;
        }

        // Image footer for md+ screens
        .diagram-image-container {
          @media (min-width: map-get($grid-breakpoints, 'xs')) {display: none;}
          @media (min-width: map-get($grid-breakpoints, 'lg')) {
            display: flex;
            justify-content: center;
            position: relative;
            height: 220px;
          }

          a {
            position: absolute;
            bottom: -35px;
            cursor: pointer;
            border-radius: 5px;
            span{
              display: block;
              background: url("#{$image-path}/landing/goto-element-arrow.png") center no-repeat;
              padding-top: 8px;
              margin-top: 6px;
            }
          }
        }
        #guest-image {background: url("#{$image-path}/landing/house_and_woman.png") center no-repeat;}
        #host-image {background: url("#{$image-path}/landing/stylist.png") center no-repeat;}

      }


    }

  }

  /* * * * * * Why Biyocchi * * * * * */
  #whyBiyocchi {
    background-color: #D9D7D7;
    display: flex;
    flex-direction: column;
    .container{padding-bottom: 4em;}


    .card {
      margin-top: 60px;
      margin-bottom: 30px;
      padding: 10px 0px 40px 0px;
      border-radius: 20px;
      .card-img-container {
        position: absolute;
        width: 100%;
        top: -60px;
        right: 0px;
      }
    }
    .card-text {
      padding-top: 60px;
      strong {color: $red;}
    }
  }

  /*************PC price******************/
  .btn-ref a:after{
  -moz-animation: btn-reflection 4s ease-in-out infinite;
  -moz-transform: rotate(45deg);
  -ms-animation: btn-reflection 4s ease-in-out infinite;
  -ms-transform: rotate(45deg);
  -o-animation: btn-reflection 4s ease-in-out infinite;
  -o-transform: rotate(45deg);
  -webkit-animation: btn-reflection 4s ease-in-out infinite;
  -webkit-transform: rotate(45deg);
  animation: btn-reflection 4s ease-in-out infinite;
  background-color: #fff;
  content: " ";
  height: 100%;
  left: -30%;
  opacity: 0;
  position: absolute;
  top: -50%;
  transform: rotate(45deg);
  width: 30px;
  z-index: -1;

}

@keyframes btn-reflection {
  0% { -webkit-transform: scale(0) rotate(45deg); transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); transform: scale(50) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes btn-reflection {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
  ////
  #price{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .price-box {
    margin: auto !important;
    display: flex;
    border:solid 3px #4D281C;
    margin: 40px 0;
    @media (min-width: map-get($grid-breakpoints, 'xs')) {
      text-align: center;
      flex-direction: column;
      width: 300px;
      height: 380px
    }
    @media (min-width: map-get($grid-breakpoints, 'lg')) {
      text-align: left;
      flex-direction: row;
      width: 100%; height: 180px;
    }
    #flag {
      background: #a38456;
      display: inline-block;
      position: relative;
      width: 294px;
      @media (min-width: map-get($grid-breakpoints, 'xs')) {
        height: 120px;
      }
      @media (min-width: map-get($grid-breakpoints, 'lg')) {
        height: 100%;
      }
    }
    #flag:after {
      z-index: -1;
      @media (min-width: map-get($grid-breakpoints, 'xs')) {
        top: 119px;
        border-style: solid;
        border-width: 74px 148px 0 148px;
        border-color: #a38456 transparent transparent transparent;
      }
      @media (min-width: map-get($grid-breakpoints, 'lg')) {
        top: -1px;
        left: 293px;
        border-tyle: solid;
        border-width: 88px 0 88px 70px;
        border-color: transparent transparent transparent #a38456 ;
      }
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      width: 0;
    }
  }

  #price{
    #flag{
      display: flex;
      color: $light;
      font-weight: 600;
      p{margin: 0px}
      @media (min-width: map-get($grid-breakpoints, 'xs')) {
        flex-direction: column;
      }
      @media (min-width: map-get($grid-breakpoints, 'lg')) {
        flex-direction: row;
        align-items: center;
        padding-left: 30px;
      }
      .flag-text {
        font-size: 1.5em;
      }
      .flag-price{
        font-size: 3.2em;
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          padding-left: 40px;
        }
      }
    }
  }

  #price {
    .price-box-details {
      @media (min-width: map-get($grid-breakpoints, 'xs')) {margin: auto auto 25px auto;}
      @media (min-width: map-get($grid-breakpoints, 'lg')) {margin: auto;}
      .price-box-message{
        p{margin: 0px; padding: 0px;}
        display: flex;
        height: 100%;
        width: 100%;

        @media (min-width: map-get($grid-breakpoints, 'xs')) {
          text-align: center;
          flex-direction: column;
          justify-content: center;
        }
        @media (min-width: map-get($grid-breakpoints, 'lg')) {
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
        }

        // Text
        .price-time {color: $red; font-size: 1.5em; font-weight: 600;}
        .price-price {font-size: 3.5em; font-weight: 600;}
      }
    }
  }

  #price, #ranking {
    button{
      border-radius: 10px;
      background-color: #000;
      font-size: 1.7em;
      padding: 30px 0px;
    }
  }

  /*************PC　ranking ******************/
  #ranking{
    padding: 50px 0px;
    .red-accent{
      text-align: center;
      font-size: 1.9em;
      font-weight: bold;
      padding-top: 50px;
    }
    .red-accent:before{
      content: "";
      display: inline-block;
      width: 37px;
      height: 37px;
      background: url("#{$image-path}/landing/mark_left.png") center no-repeat;
      padding-right: 20px;
    }
    .red-accent:after{
      content: "";
      display: inline-block;
      width: 37px;
      height: 37px;
      background: url("#{$image-path}/landing/mark_right.png") center no-repeat;
      padding-left: 20px;
    }

    th{
      color: #fff;
      background-color: #666;
      text-align: center;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 1.1em;
      padding: 20px 0;
    }
    th+th{border-left:solid 1px #fff;}
    th span{font-size: 0.5em;}
    td{
      font-size: 1.1em;
      text-align: center;
      padding: 30px 0;
      border-bottom: solid 3px #000;
    }
    td.price-range{
      font-weight: bold;
    }
  }
} // END #landing-page NESTING


footer#landing-footer {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  a {
    font-size: 3em; font-weight: 600;
    color: $light; cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    padding: 0px 10px;
  }
  a:hover {opacity: 1;}

  a.img-link{ padding: 0; display: block;}
  a.img-link {
    @media (min-width: map-get($grid-breakpoints, 'xs')) {height: 60px; width: 60px;}
    @media (min-width: map-get($grid-breakpoints, 'md')) {height: 80px; width: 80px;}
  }
  img{position: absolute;}
  img{
    @media (min-width: map-get($grid-breakpoints, 'xs')) {height: 60px; width: 60px;}
    @media (min-width: map-get($grid-breakpoints, 'md')) {height: 80px; width: 80px;}
  }
}
